*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
}
nav a:hover{
    color: rgb(106, 103, 103);
}
.pesquizar{
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pesquizar button{
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.pesquizar input{
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
}
main{
    min-height: 68vh;
    padding: 1% 5%;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    background-color: rgb(57, 57, 57);
}


footer{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 900px){
    main{
        justify-content: center;
        gap: 20px;
    }
}